/ansible/group_vars/all/vault.yml
/ansible/roles/gantsign.*
/ansible/roles/tersmitten.*
/ansible/roles/geerlingguy.*
/ansible/roles/fagia.sublimetext/*
/ansible/roles/rvm_io.ruby/*
/ansible/roles/additional/*
/ansible/*.retry
/config.rb
/*.log
/.vagrant/
