/ansible/group_vars/all/vault.yml
/ansible/roles/gantsign.*
/ansible/roles/tersmitten.*
/ansible/roles/geerlingguy.*
/ansible/roles/fagia.sublimetext/*
/ansible/roles/rvm.ruby/*
/ansible/roles/additional/*
/ansible/*.retry
/config.yml
/*.log
/.vagrant/
