[Desktop Entry]
Name=MailHogWebUI
GenericName=MailHog Web UI
Comment=View your outgoing email in a web UI
Exec=google-chrome http://localhost:8025
Terminal=false
Icon={{ mailhog_png_file }}
Type=Application
Categories=Development;
Version=1.0
